<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h1>Editing Book</h1>
    <% if @book.errors.any? %>
      <%= @book.errors.count %> errors prohibited this book from being saved:
    　<ul>
    　  <% @book.errors.full_messages.each do |message| %>
    　    <li><%= message %></li>
    　  <% end %>
    　</ul>
    <% end %>
    
    <%= form_with model: @book do |f| %>
      <div class="form-group">
        <label for="inputTitle">Title</label></br>
        <%= f.text_field :title, autofocus: true, id:"inputTitle" %>
      </div>
      <div class="form-group">
        <label for="inputOpinion">Opinion</label></br>
        <%= f.text_field :body, autofocus: true, id:"inputOpinion" %>
      </div>
      <div class="form-group">
        <%= f.submit "Update Book" %>
      </div>
    <% end %>
  
    <%= link_to "Show", book_path  %>
    | 
    <a class="back" href="/books">Back</a>
    </div>
  </div>
</div>
