<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'users/list', user:@user, book:@book_new %>
    <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table table-hover table-inverse">
      <tbody>
        <tr>
          <td>
            <%= link_to book_path do %> 
              <%= image_tag @book.user.get_profile_image(100,100) %></br>
            <% if @book.user == current_user %>
              <%= @book.user.name %>
            <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to book_path do %>
              <%= @book.title %>
            <% end %>
          </td>
          <td><%= @book.body %></td>
          <td>
          <% if @book.user == current_user %>
            <button class="btn btn-sm btn-success">
            <%= link_to "Edit", edit_book_path %></p>
            </button>
          <% end %>
          </td>
          <td>
          <% if @book.user == current_user %>
            <button data-confirm="本当に消しますか?" class="btn btn-sm btn-danger">
            <%= link_to "Destroy", book_path, method: :delete %>
            </button>
          <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>